<!DOCTYPE html>
<html>
  <head>
    <title>Polymorphic JS</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <style>
      .pure-g [class *="pure-u"] > * {
        margin: 1em;
      }
    </style>
  </head>
  <body>
    <div id="mount">{{{html}}}</div>
    <script src="/bundle.js"></script>
  </body>
</html>
